.faq {
  background-color: #e6b89c;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.faq__parallax {
  min-height: 50px;
  background-image: url("faq-kitty.jpg") no-repeat center 50%;
  box-shadow: inset 0 8px 20px #0d0d0d;
  background-size: cover;
  background-color: #e6b89c;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-left: 100px;
}
.faq__form {
  margin-top: 100px;
}
.faq__header {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 40px;
  padding: 0.5%;
}
.faq__header > h1 {
  padding: 100px;
}
.faq__container {
  display: grid;
  min-height: calc(100vh - 50px);
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: 1fr;
}
.faq__prompt-question {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #e6b89c;
  box-shadow: inset 0 8px 20px #0d0d0d;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.faq__resume-container {
  margin: auto;
}
.faq__resume {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
