@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.home{
    background-color: #FFFC00;
    max-width: 100%;
}
.home__body-container{
    display: grid;
    height: calc(100vh - 50px);
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    
}
.home > * {
    padding: 20px;
  }
.home__body-hello-text{
    font-style: normal;
    font-weight: 5000;
    font-size: 64px;
    line-height: 86px;
    
}
.home__body-adopt-text{
    font-style: normal;
    font-weight: 100;
}
.home__body-nova{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 110px;
}
.home__body-continue-button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 15px 40px;
    background: hsl(0, 0%, 1%);
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: 0.5s;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.home__body-continue-button:hover{
    background: #2b2b2b;
    color:#fff;
    letter-spacing: 4px;
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
}
.home__bottom{
    background-color: rgb(248, 249, 251);
}
.home__bottom-container{
    display: grid;
    height: 500px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 600px) {
    .home__body-container{
        grid-template-columns: 1fr;
    }
}