.header{
    height: 50px;
    background-color: #FFFC00;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header__content{
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header__main-logo{
    height: 30px;
    padding: 0 20px;
}
.header__snapchat-logo{
    height: 30px;
    width: 30px;
    padding: 0 20px;
}
.header__navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navigation-home{
    margin-right: 12px;
    font-weight: 600;
}
.header__navigation-shop{
    margin-right: 12px;
    font-weight: 600;
}
.header__navigation-cats{
    margin-right: 12px;
    font-weight: 600;
}
.header__navigation-contact{
    margin-right: 0px;
    font-weight: 600;
}
.header__lottie{
    height: 90px;
    width: 90px;
    margin-top: 44px;
    padding-top: 5px;
    z-index: 1;
}