.footer{
    height: 50px;
    background-color: #121314;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 1;
}
.footer__content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    font-weight: bold;
    margin:auto;
    color: #fff;
}